html, body {
    height: 100%;
    margin: 0;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    position: relative;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 1%;
    display:block;
    margin-left: 2.5%;
}

h2 {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0% 0% 2% 3%;
    color: #4aaaa5;
    margin-left: 7%;
}

h3 {
    text-align: left;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0% 0% 2% 3%;
}

hr {
    border: none;
    height: 2px;
    color: #dddddd;
    background-color: #dddddd;
    margin-left: 3%;
    margin-right: 3%;
}

nav {
    float: right;
    position: relative;
    text-align: center;
    margin-right: 2.5%;
}

p {
    text-align: left;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    margin: 2%;
}

a {
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.top {
    height: 58px;
    width: 100%;
    background-color: white;
    padding: 1%;
}

.bottom {
    display:block; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #fff;
    padding: 1%;
    min-height: 50%;
    margin-bottom: -50px;
    
}

.bottomPort {
    display:block; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 700px; 
    background-color: #fff;
    padding: 1%;
    min-height: 100%;
    margin-bottom: -50px;
}

.bottomCont {
    display:block; 
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    min-height: 35%;
    background-color: #fff;
    padding: 1%;
    margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.copyright {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: -60px;
}

.tealBar {
    background-color: #4aaaa5;
    width: 100%;
    height: 7px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

#profilePic {
    position: relative;
    float: left;
    margin-left: 3%; 
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
}

#background {
    width: 100%;
    height: 120%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.containerL {
    margin: 0;
    float: left;
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
}

.containerR {
    margin: 0;
    float: right;
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
}

.portTitle {
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 1%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

#portPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    margin: 0%;
    width: 925px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
form div + div {
    margin-top: 1em;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    width: 90px;
    text-align: left;
    margin: 0% 0% 0% 3%;
    color: #777777;
    padding-top: 1%;
}
  
input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 850px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin: 0% 0% 0% 3%;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5em;
    padding: 1%;
}  
 
button {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 2% 0% 2% 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


@media screen and (max-width: 980px) {

    h1{
        margin-left: 2.5%;
    }

    nav{
        margin-right: 2.5%;  
    }

    .bottom{
        display:block; 
        align-content: left;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        padding: 1%;
        width: 55%;
    }

    .bottomPort{
        display:block; 
        align-content: left;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        padding: 1%;
        width: 55%;
        min-height: 30%;
    }

    .bottomCont{
        display:block; 
        align-content: left;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 2.5%;
        padding: 1%;
        width: 55%;
    }

    form{
        width: 450px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    input, textarea{
        width: 450px;
    }
}

@media screen and (max-width: 768px) {
    
    h1{
        width: 25%;
        padding: 1%;
        margin-left: 2.5%;
    }

    nav{
        width: 50%;
        text-align: right;
        margin-right: 2.5%; 
    }
    
    .bottom{
        display:block; 
        align-content: left;
        padding: 1%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: auto; 
        margin-right: auto;
        padding: 0%;
        width: 98%;
    }

    .bottomPort{
        display:block; 
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 4%;
        min-height: 90%;
        width: 90%;
    }

    .bottomCont{
        display:block; 
        align-content: left;
        padding: 1%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: auto; 
        margin-right: auto;
        padding: 0%;
        width: 98%;
        min-height: 60%;
    }

    #profilePic{
        display: block;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 38%;
    }

    #background{
        height: 135%;
    }

    #portPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .containerL{
        width: 50%;
    }

    .containerR{
        width: 50%;
    }

    .portTitle{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        padding: 1%;
    }
    form{
        width: 90%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    input, textarea{
        width: 90%;
    }
}


@media screen and (max-width: 640px) {

    h1{
        float: top;
        width: 100%;
        padding: 2%;
        margin-left: 0%;
        margin-bottom: 0%;
    }

    nav{
        width: 100%;
        text-align: center;
        margin-right: 0%;
    }

    .column{
        width: 100%;
    }

    .top{
        width: 100%;
        height: 100px;
        align-content: center;
    }

    .bottom{
        display:block; 
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 4%;
        width: 90%;
    }

    .bottomPort{
        display:block; 
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 4%;
        min-height: 30%;
        width: 90%;
    }

    .bottomCont{
        display:block; 
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 4%;
        width: 90%;
        min-height: 70%;
    }

    #profilePic{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    #background{
        height: 200%;
    }

    #portPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        margin-top: 2%;
    }

    .portTitle{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
